
body {font-family: Tahoma, Arial, sans-serif; background-color: #fffff0}

p, ul, h1, h2, h3, h4, h5, h6 { font-family: Tahoma, Arial, sans-serif }

/* ie5, mozilla */
div { font-family: Tahoma, Arial, sans-serif; margin: 1em 0}
div.Remote {padding: 1em; border: solid thin; background-color: #ffeecc}
div.LocalLinks {padding: 1em; border: solid thin; background-color: #ccffee}
div.LocalNoLinks {padding: 1em; border: solid thin; background-color: #ffffcc}
div.Last {font-size: 50%}

td.Left {width: 110; font-weight: bold}

/* nn4 */ /*
h1, h2, h3 {font-size: x-large} 
table.Remote {padding: 1em; background-color: #ffeecc} 
table.LocalLinks {padding: 1em; background-color: #ccffee}
table.LocalNoLinks {padding: 1em; background-color: #ffffcc} 
table.Last {padding: 1em}
td {font-family: Tahoma, Arial, sans-serif; font-size: large}
*/
